@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Baloo+Bhaijaan+2&family=Scheherazade+New&display=swap');
body{
font-family: 'Almarai', sans-serif;
font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Scheherazade New', serif;
}
.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    background-color: rgb(17, 73, 142); 
    transition: opacity .5s;
    box-shadow: .2 .2 6px black;
}

.list a{
    flex: 1;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}


#logo{
    width: 70px;
    
    
}
.upper-part{
   box-shadow: .3px .3px 6px gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 20px;
    
    
}
.upper-part:hover .list{
    opacity: 1;
    cursor: pointer;
}
.upper-part:hover{
    cursor: pointer;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: darkblue;
    color: aliceblue;
    align-items: center;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.lower-part{
    margin: 0;
}
.img{
    width: 20px;
    margin: 10px;
    transition: .5s;
}

.list a:hover{
    background-color: rgb(211, 211, 226);
    color: #000;
}
.list a{
    transition: .5s;
}
.images{
    display: flex;
    margin: 20px;
}
.img-con{
    position: relative;
    transition: .3s;
}
.text{
    position: absolute;
    font-size: 8px;
    background-color: gray;
    color: white;
    padding: 3px;
    white-space: nowrap;
    border-radius: 3px;
    z-index: 1;
    pointer-events: none;
   
    opacity: 0;
}
.img-con:hover .text{
    opacity: 1; 
    top: 32px;
}
.img-con:hover{
    background-color: lightgrey;
    border-radius: 30px;
    transition: .3s;
}
.offers{
    text-align: center;
    background-color: rgb(81, 29, 29);
    margin: 0;
    padding: 40px;
    border-radius: 4px;
    color: aliceblue;
}
.full-part{
    display: flex;
    flex-direction: column;
}
.pic-con{
    display: flex;
    flex-direction: row;
    align-items: center; 
   
}
.pics{
    height: 400px;
    flex: 1;
    margin: 10px;
    box-shadow: 1px 1px 10px gray; 
    position: relative;

}
.more{
    border: none;
    position: absolute;
    font-size: 12px;
    background-color: rgb(135, 136, 144);
    color: #000;
    border-radius: 3px;
    left: 0;
    right: 0;
    padding: 8px;
    opacity: 0;

}

.pic-con:hover .more{
    cursor: pointer;
    color: white;
    opacity: .7;
}
.new-product-card img{
    width: 150px;
    margin: 10px;
    
}
.new-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    position: relative;
    
}
.new-product-card{
    border: 1px solid rgb(161, 161, 161);
    position: relative;
    box-shadow: 1px 1px 10px gray;
}
.new-product-card h5{
    position: absolute;
    top: 0;
    background-color: gray;
    color: white;
    opacity: .8;
    padding: 5px;
    
}
.more-product{
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgb(153, 96, 65);
    text-align: center;
    border-radius: 5px;
    color: white;
    transition: .5s;
}
.new-product:hover .more-product{
    background-color:rgb(44, 35, 31) ;
    cursor: pointer;
    opacity: .6;
}






